#gaddon-setting-row-serverStats > th {
	padding-top: 10px;
}
#gaddon-setting-row-serverStats > td {
	padding-top: 0;
}

#gform_postmark_server_stats {
	width: auto;
}

#gform_postmark_server_stats tbody th {
	font-weight: normal;
	padding-right: 2rem;
	text-align: left;
}

#gform_postmark_server_stats tbody td {
	text-align: right;
}

html[dir="rtl"] #gform_postmark_server_stats tbody th {
	padding-right: 0;
	padding-left: 2rem;
	text-align: right;
}

html[dir="rtl"] #gform_postmark_server_stats tbody td {
	text-align: left;
}

html[dir="rtl"] #gaddon-setting-row-serverStats > td {
	padding-right: 10px;
}
